<%= form_for User.new do |f| %>

  <%= f.text_field :email, :placeholder => "email" %>
  <%= f.password_field :password, :placeholder => "password (at least 6 characters)" %>
  <%= f.password_field :password_confirmation, :placeholder => "confirm password" %>

  <div class="active"><%= f.submit "Sign up", :class => "top-bar-button" %></div>

<% end %>
